table {
	width: 960px;
	border: #000 1px solid;
	font-family: "Roboto_Condensed";
	font-size: 14px;
	line-height: 18px;
	margin: auto;
}

table td{
	vertical-align: top;
}

table td.vertMid{
	vertical-align: middle;
}

body{
    padding: 8px 0;
}

h2 {
	font-family: "Roboto_Condensed";
	text-transform: uppercase;
	font-size: 24px
}

th, tr, td {
	border: #000 1px solid;
	text-align: center;
	vertical-align: middle;
}

td {
	height: 30px;
	width: 60px;
}

td ul {
	margin: 0;
	padding: 0;
}

td ul li {
	padding: 8px 4px;
	border-bottom: #000 2px solid;
	list-style: none;
}

td ul li:last-child {
	border-bottom: none;
}
