body {
	font-family: "Roboto";
	font-weight: 500;
	color: #000;
	font-size: 10px;
}

h1, h2, h3, h4 {
	font-family: "Roboto Condensed";
	font-weight: 500;
	text-transform: uppercase;
	color: #000;
}

a {
	color: #ed3237;
	text-decoration: none;
	-webkit-box-sizing:border-box; 
	-webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
	    -ms-transition: all .3s ease-out;
	     -o-transition: all .3s ease-out;
	        transition: all .3s ease-out;
}

a:hover {
	color: #000;
}

.section_line_lr:after { content: "."; visibility: hidden; clear: both; display: block; height: 0; }

.logo {
	position: relative;
	float: left;
	background: url("/img/logo.svg");
	height: 80px;
	width: 114px;
	margin: 16px;
}

.head .description {
	margin-top: 30px;
	float: left;
}

.head .description p {
	font-size: 12px;
	margin: 0;
	margin-left: 8px;
}

h1 {
	font-size: 40px;
}

h4 {
	line-height: 1;
	margin: 0;
}

.card_t {
	margin: 0 8px;
}

.calendar .description {
	font-size: 11px;
	margin: 0;
}

.time {
	font-size: 10px;
	line-height: 18px;
	float: left;
	margin-right: 12px;
	font-weight: bold;
}

.time_line {
	border-bottom: #000 1px solid;
	margin: 0;
}