/*//// Calendar ////////////////////////////*/

.card_t{
  min-height: 705px;
}

.calendar ul {
  list-style: none;
}


.calendar .print {
  line-height: 48px;
}

.section_line_lr {
    overflow: hidden;
}

.calendar .print:before {
  content: "\f38d";
  font-family: "Material_icons";
  vertical-align: middle;
  line-height: 1;
  font-style: normal;
  speak: none;
  margin-right: 8px;
}

.calendar {
	padding-top: 8px;
}

.calendar .owl-controlls{
    margin-top: 12px;
	text-align: center;
	z-index: 100;
}

.calendar .marker {
	float: left;
	margin: 8px;
	margin-top: 16px;
	width: 8px;
	height: 8px;
	background: #efefef;
	border-radius: 4px;
}

.calendar .time_line {
	border-top: #efefef 1px solid;
	background: #fff;
}

.calendar .time {
	float: left;
	margin: 8px;
	font-size: 12px;
	line-height: 24px;
	color: #000;
}

.calendar .description {
	font-size: 12px;
	line-height: 24px;
	text-align: right;
}

.conteiner.calendar_line_lr{
  max-width: 1024px;
}

.conteiner.calendar_line_lr .card_b{
  padding: 32px 0;
}

.calendarSM{
  display: none;
}

.calendarXL{
  margin-bottom: 48px;
}

/*//// Media ////////////////////////////*/
@media (max-width: 1290px) {
  .header .social {
      display: none;
    }
}

@media (max-width: 1180px) {
  .header .desktop {
    display: none;
  }

  .header .mobile {
    display: block;
  }

  .p33{
    width: 50%;
  }

  .calendarXL{
    display: none;
  }

  .calendarSM{
    display: block;
  }
}

@media (max-width: 600px) {
  .p50 {
    width: 100%;
  }

  .p33 {
    width: 100%;
  }

  .p25 {
    width: 100%;
  }

  .p66 {
    width: 100%;
  }

  .p75 {
    width: 100%;
  }

  .header {
    padding: 0;
  }

  .header .logo {
    margin: 0;
  }

  .header ul {
    margin: 0;
  }

  .wrapper {
    padding-top: 80px;
  }

  .menu_mobile {
    top: 80px;
  }

  h1 {
    font-size: 40px;
  }

  .footer .copy {
  	display: none;
  }

  .card_t {
      min-height: 0;
  }
}
