/*//// Photo ////////////////////////////*/
.photo {
	padding-top: 8px;
}

.card_b .card_line_tb{
  min-height: 270px;
}

.photo .image_link {
	margin: 0;
	display: block;
	position: relative;
}

.cover {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
	z-index: 10;
		-webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
	    -ms-transition: all .3s ease-out;
	     -o-transition: all .3s ease-out;
	        transition: all .3s ease-out;
}

.cover:hover {
	opacity: 1;
}

.cover:before {
	content: "\e81a";
	width: 64px;
	height: 64px;
	font-family: "Icon_Set";
	font-size: 48px;
	vertical-align: middle;
	line-height: 64px;
    font-style: normal;
    speak: none;
    color: #ed3237;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
}

.pagination .prev a, .pagination .next a {
  width: 32px;
  height: 32px;
  padding: 12px;
  font-family: "Icon_Set";
  font-size: 16px;
  vertical-align: middle;
  line-height: 1;
    font-style: normal;
    speak: none;
    color: #000;
  border: #000 1px solid;
}

.pagination .conteiner {
  padding: 0 16px;
}

.pagination .prev a:hover, .pagination .next a:hover {
  color: #ed3237;
  border: #ed3237 1px solid;
}

.pagination {
  margin-bottom: 24px;
}

.pagination ul {
  margin: 0;
  padding: 0;
}

.pagination li {
  margin: 0;
  display: inline;
}

.pagination .prev {
  float: left;
}

.pagination .next {
  float: right;
}

.pagination .next a:before {
  content: "\e81a";
}

.pagination .prev a:before {
  content: "\e819";
}


/*//// Media ////////////////////////////*/
@media (max-width: 1290px) {
.header .social {
      display: none;
    }
}

@media (max-width: 1180px) {
  .header .desktop {
    display: none;
  }

  .header .mobile {
    display: block;
  }
}

@media (max-width: 600px) {
  .p50 {
    width: 100%;
  }

  .p33 {
    width: 100%;
  }

  .p25 {
    width: 100%;
  }

  .p66 {
    width: 100%;
  }

  .p75 {
    width: 100%;
  }

  .header {
    padding: 0;
  }

  .header .logo {
    margin: 0;
  }

  .header ul {
    margin: 0;
  }

  .wrapper {
    padding-top: 80px;
  }

  .menu_mobile {
    top: 80px;
  }

  h1 {
    font-size: 40px;
  }

  .footer .copy {
  	display: none;
  }
}
