/*//// Price ////////////////////////////*/
table {
  border: #000 1px solid;
  font-family: "Roboto_Condensed";
  font-size: 14px;
  line-height: 18px;
  margin: auto;
  width: 100%;
  border-spacing: 0;
}

.p50{
  width: 100%;
}

h2 {
  font-family: "Roboto_Condensed";
  text-transform: uppercase;
  font-size: 24px
}

th, tr, td {
  border: #000 1px solid;
  text-align: center;
  vertical-align: middle;
}

td {
  height: 30px;
  width: 60px;
}

td ul {
  margin: 0;
  padding: 0;
}

td ul li {
  padding: 8px 0;
  border-bottom: #000 2px solid;
  list-style: none;
}

td ul li:last-child {
  border-bottom: none;
}

.price {
	padding-bottom: 8px;
}

.price ul {
	margin: 8px;
	padding: 0;
}

.price li {
	display: block;
	padding: 12px 0;
	border-top: #efefef 1px solid;
	font-size: 12px;
}

.price p {
	min-height: 24px;
}

.price li span {
	text-align: right;
	float: right;
	color: #000;
}

.price .annotation{
	font-size: 12px;
	font-style: italic;
	color: #b2b2b2;
}

.info {
	background: #fff;
}

/*//// Media ////////////////////////////*/
@media (max-width: 1290px) {
.header .social {
      display: none;
    }
}

@media (max-width: 1180px) {
  .header .desktop {
    display: none;
  }

  .header .mobile {
    display: block;
  }
}

@media (max-width: 768px) {
  .priceBloc{
    overflow: auto;
  }
}

@media (max-width: 600px) {
  .p50 {
    width: 100%;
  }

  .p33 {
    width: 100%;
  }

  .p25 {
    width: 100%;
  }

  .p66 {
    width: 100%;
  }

  .p75 {
    width: 100%;
  }

  .header {
    padding: 0;
  }

  .header .logo {
    margin: 0;
  }

  .header ul {
    margin: 0;
  }

  .wrapper {
    padding-top: 80px;
  }

  .menu_mobile {
    top: 80px;
  }

  h1 {
    font-size: 50px;
  }

  .footer .copy {
  	display: none;
  }
}
