/*///// Template ////////////////////////////////////////////////////////*/
body {
	font-family: Roboto;
	font-weight: 400;
	color: #494949;
	background: #efefef;
}

.noscrollBody{
	overflow: hidden;
	position: fixed;
	width: 100%;
}

.menuScr{
	overflow: auto;
}

h1, h2, h3, h4 {
	font-family: Roboto_Condensed;
	font-weight: 500;
	text-transform: uppercase;
	color: #000;
}

a{
	color: #ed3237;
	text-decoration: none;
	-webkit-box-sizing:border-box;
	-webkit-transition: all .3s ease-out;
	   -moz-transition: all .3s ease-out;
	    -ms-transition: all .3s ease-out;
	     -o-transition: all .3s ease-out;
	        transition: all .3s ease-out;
}


a:hover{
	color: #000;
}

/*!!!*/
.card_b_Link p{
	color: #494949;
}

.back_link:before {
  margin: 8px;
}

.back_link:before {
  content: "\e819";
  font-family: "Icon_Set";
  font-size: 16px;
  vertical-align: middle;
  line-height: 1;
  font-style: normal;
  speak: none;
}

/*!!!*/

hr {
	margin: 8px;
	border: none;
	height: 1px;
	background: #494949;
}

input {
	padding: 12px;
	margin: 8px;
	background: none;
	border: #494949 1px solid;
}

button, .link_button {
	display: inline-block;
	padding: 12px;
	border: #ed3237 1px solid;
	background: none;
	color: #000;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	margin: 1.5em 8px;
}

button:hover, .link_button:hover {
	color: #fff;
	background: #ed3237;
}

.card, .card_tb, .card_t, .card_b {
	background: #fff;
	margin: 8px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.header ul {
	float: right;
}

.header li {
	display: inline;
}

.header a {
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 400;
	font-size: 12px;
	padding: 12px;
	cursor: pointer;
	border: #fff 1px solid;
	line-height: 80px;
	margin: 0;
}

.header a:hover {
	border: #ed3237 1px solid;
	color: #ed3237;
}

/*!!!*/
.header .current-menu-item a {
	border: #000 1px solid;
	color: #000;
}

.header .logo {
	display: block;
	position: relative;
	float: left;
	background: url("../img/logo.svg");
	height: 80px;
	width: 114px;
	margin: 16px;
	cursor: pointer;
	border: none;
}

.header .logo:hover {
	border: none;
}

.header .text {
	display: inline-block;
	float: left;
	margin: 30px 48px 0 48px;
}

.header .description {
	font-size: 14px;
	margin-left: 24px;
	color: #000;
}

.header .phone {
	position: relative;
	font-size: 16px;
	margin: 0;
	color: #000;
}

.header .phone:before {
	content: "\e82a";
	font-family: "Icon_Set";
	vertical-align: middle;
	line-height: 1;
    font-style: normal;
    speak: none;
    margin-right: 8px;
}

.header .vk,
.header .fb,
.header .tw,
.header .menu {
	width: 32px;
	height: 32px;
	font-family: "Icon_Set";
	font-size: 16px;
	vertical-align: middle;
	line-height: 80px;
    font-style: normal;
    speak: none;
    color: #000;
	border: #000 1px solid;
}

.vk:before {
	content: "\e866";
}

.fb:before {
	content: "\e860";
}

.tw:before {
	content: "\e865";
}

.menu:before {
	content: "\e84b";
}

.header .desktop {

}

.header .mobile {
	display: none;
}

.menu_mobile {
	display: none;
	position: fixed;
	top: 108px;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: rgba(255,255,255,.98);
}

.menu_mobile ul {
	padding: 0;
	margin: 0;
}

.menu_mobile li {
	display: block;
	margin: 0;
}

.menu_mobile a {
	width: 100%;
	padding: 12px;
	display: block;
	margin: 0;
	color: #000;
	text-transform: uppercase;
}

.menu_mobile a:after {
	content: "\e81a";
	font-family: "Icon_Set";
	vertical-align: middle;
	line-height: 1;
    font-style: normal;
    speak: none;
    float: right;
    margin-top: 4px;
}

.menu_mobile a:hover {
	background: rgba(255,0,0,1);
	color: #fff;
}

.footer {
	position: relative;
	top: -114px;
	background: #1f1f1f;
	color: #3e3e3e;
}

.footer ul {
	float: right;
	margin-top: 20px;
}

.footer li {
	display: inline;
}

.newsCard .card_line{ overflow: hidden; }
.newsCard .card_line img{
	width: 100%;
  margin: 0 auto;
}

.newsCard{
	min-height: 700px;
}

.footer .vk,
.footer .fb,
.footer .tw {
	width: 32px;
	height: 32px;
	font-family: "Icon_Set";
	font-size: 16px;
	vertical-align: middle;
	line-height: 1;
    font-style: normal;
    speak: none;
    color: #3e3e3e;
	border: #3e3e3e 1px solid;
	padding: 12px;
	text-decoration: none;
}

.footer .copy {
	position: relative;
	float: left;
	font-size: 12px;
	line-height: 48px;
}

.footer .copy a {
	color: #9d9d9d;
	text-decoration: underline;
	font-size: 12px;
}

.footer a:hover {
	color: #fff;
}

.wrapper {
	position: relative;
	min-height: 100%;
	padding-bottom: 100px;
	padding-top: 108px;
}

.newsImgCard{
	width: 100%;
  min-height: 456px;
}

.contentExcerpt{
  height: 110px;
	overflow: hidden;
}

.photoExcerpt{
	max-height: 183px;
	overflow: hidden;
}

.photoExcerpt p{
	white-space: pre-line;
}

@media (max-width: 1360px) {
	.header .text {
	    display: inline-block;
	    float: left;
	    margin: 30px 0 0 16px;
	}
}

@media (max-width: 800px) {
	.newsImgCard{
		min-height: 350px;
	}
}

@media (max-width: 600px) {
	.footer{
		top: -99px;
	}
}

@media (max-width: 480px) {
	.newsImgCard{
		background-size: contain !important;
	}
}
